.cart-item {
  width: 100%;
  padding: 1rem;
  display: block;
  background: #fff;
  place-items: center;
  margin-bottom: 8px;
}


.table-column{
  padding: 0;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.cart-image{
  height: 10em;
  width: 10em;
}

.cart-item-name {
  text-decoration: none;
  font-weight: bold;
  color: #000000; 
  margin-bottom: 0;
  padding-bottom: 0;
}

.cart-item-price {
  text-decoration: none;
  color: #000000; 
  margin-bottom: 0;
  padding-bottom: 0;
}

.cart-item-name:hover {
  color: #FF7F00;
}

.cart-item-select {
  margin-right: 2%;
  font-size: 1em !important;
}

.cart-item-deleteBtn {
  background: #FF3F11;
  border: 1px solid #FF3F11;
  color: #F4F4F4;
  cursor: pointer;
  font-size: 0.7em !important;
}

.cart-item-deleteBtn:hover {
  background: #FF7F00;
  border: 1px solid #FF7F00;
  font-size: 0.7em !important;
}

@media (max-width: 700px) {

}

@media (max-width: 700px) {


}
