.cart-page {
  display: block;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10vh;
}

.cart-items {
  background-color: white;
  padding-bottom: 4%;
  border-radius: 3%;
}

.cart-item-header {
  font-weight: bold;
  font-size: 2em;
  color: #ff3f11;
  padding-top: 2%;
  padding-left: 2%;
}

.cart-info-header {
  font-weight: bold;
  font-size: 2em;
  color: #ff3f11;
  padding-top: 2%;
}

.cart-info {
  background-color: white;
  padding-left: 4%;
  padding-bottom: 4%;
  border-radius: 3%;
}

#cart-cost {
  font-weight: bold;
}

#checkout-button{
  background-color: #FF3F11;
  border: 1px solid #FF3F11;
}

#checkout-button:hover{
  background-color: #FF7F00;
  border: 1px solid #FF7F00;
}


@media (max-width: 1320px) {
  .CartPage {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .CartPage {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .CartPage {
    flex-direction: column;
  }

  .CartPage__right {
    margin: 1rem;
  }
}
