.homepage{
    padding:0;
    margin:0;
    text-align: center;
    width: 100%;
}

#arrow-down{
    margin-top: 8%;
    height: 2em;
    width: 2em;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.products-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

.partners-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 10%;
}

#partner-logo{
    margin-bottom: 15%;
}