.page-header{
    padding-top: 35vh;
    padding-left: 15%;
    margin-bottom: 5%;
}

#main-header{
    color: #FF3F00;
    font-size: 4em;
    font-weight: bold;
    line-height: 1em;
}

#sub-header{
    color: black;
    font-size: 2em;
}