.product-card{
  margin-right: 2%;
  margin-bottom: 2%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}


.btn-primary {
  background-color: #ff3f00;
  color: white;
  border: none;
  width: 100%;
}

.btn-primary:hover {
  background-color: #FF7F11;
  color: white;
  border: none;
}

.product-name{
    font-weight: bold;
}

#product-button {
  color: white;
  text-decoration: none;
}

