html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media only screen and (max-width: 650px){
  body{
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px){
  body{
    font-size: 12px;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
