html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn{
  font-size: 1em;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 575px) {
  body {
    font-size: 12px;
  }
}

